# This is an example .env file. Copy this to .env and fill in the values.

# Port number for the server to listen on
PORT=3000

# PostgreSQL database connection settings
PGUSER=postgres
PGPASSWORD=1
PGDATABASE=openjob_test
PGHOST=localhost
PGPORT=5432
DATABASE_URL=postgres://postgres:1@localhost:5432/openjob_test

# JWT secret keys for access and refresh tokens
ACCESS_TOKEN_KEY=youraccesssecretkey
REFRESH_TOKEN_KEY=yourrefreshsecretkey